/* Computadoras */
@media screen and (min-width: 1024px) {

    .tituloPortada {
        font-family: 'Lobster', cursive;
        margin-top: 30px;
        margin-bottom: 45px;
        font-size: 60px;
    }

    .subtituloPortada {
        margin-bottom: 40px;
        font-size: 30px;
        font-family: 'Lobster', cursive;
    }


    /* Teléfono */

    .paso {
        margin-top: 70px;
        font-family: 'Fugaz One', cursive;
        text-align: center;
    }

    .pasoD {
        margin-top: 30px;
        margin-left: 200px;
    }

    .pasoI {
        margin-top: 30px;
        margin-left: 15px;
    }

    /* Beneficios */

    .cardBeneficioI {
        margin-right: 20px;
        margin-bottom: 20px;
        border-style: solid;
        background-color: #186854;
        border-top-right-radius: 50px;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 150px;
        border-bottom-left-radius: 200px;
        width: 350px;
        height: 180px;
        color: white;
        font-family: 'Lilita One', cursive;
    }

    .cardBeneficioD {
        margin-left: 20px;
        margin-bottom: 20px;
        border-style: solid;
        background-color: #186854;
        border-top-right-radius: 100px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 150px;
        width: 350px;
        height: 180px;
        color: white;
        font-family: 'Lilita One', cursive;
    }
    



}

/* Celular */
@media screen and (max-width: 767px) {

    .tituloPortada {
        font-family: 'Lobster', cursive;
        margin-top: 30px;
        margin-bottom: 65px;
        font-size: 35px;
    }

    .subtituloPortada {
        margin-bottom: 40px;
        font-size: 28px;
        font-family: 'Lobster', cursive;
    }


    /* Teléfono */

    .paso {
        margin-top: 70px;
        font-family: 'Fugaz One', cursive;
        text-align: center;
    }

    .pasoD {
        margin-top: 30px;
        margin-left: 8px;
    }

    .pasoI {
        margin-top: 30px;
        margin-left: 8px;
    }

    /* Beneficios */

    .cardBeneficioI {
        margin-bottom: 20px;
        border-style: solid;
        background-color: #186854;
        border-top-right-radius: 50px;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 150px;
        border-bottom-left-radius: 200px;
        width: 280px;
        height: 180px;
        color: white;
        font-family: 'Lilita One', cursive;
    }

    .cardBeneficioD {
        margin-bottom: 20px;
        border-style: solid;
        background-color: #186854;
        border-top-right-radius: 100px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 150px;
        width: 280px;
        height: 180px;
        color: white;
        font-family: 'Lilita One', cursive;
    }
    

}

* {
    font-family: 'Fugaz One', cursive;
}

body {
    overflow-x: hidden;
}

/* Telefono */

.tituloPaso {
    margin-top: 40px;
    color: #26aa89;
}

.telefono {
    margin-top: 60px;
}

.pasos {
    display: flex;
    justify-content: center;
}


/* Portada */
.heroSticky {
    background-image: url('../img/portadaMesada.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 90vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.heroSticky::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #36333359;
    z-index: -1;
}

.heroSticky h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.heroSticky p {
    font-size: 20px;
    letter-spacing: 1px;
}

.contentSticky h2,
.contentSticky h3 {
    font-size: 150%;
    margin: 40px 0;
}

.contentSticky p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}

/* Beneficios */

.beneficios {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lilita One', cursive;
    margin-top: 60px;
}

.textoBeneficio {
    margin-right: 20px;
    margin-left: 20px;

}

.seccionBenefiosD {
    margin-top: 50px;
}

.tituloBeneficioI {
    color: #26aa89;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    margin-right: 40px;
    font-family: 'Lilita One', cursive;
}


.tituloBeneficioD {
    color: #26aa89;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
    font-family: 'Lilita One', cursive;
}

.queHay {
    display: flex;
    justify-content: center;
    color: #186b56;
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
    margin-top: 90px;
}


